.myform{
    padding: 20px;
    background-color: rgb(69, 69, 69);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 400px;
}
.inputitem{
    margin: 5px;
}
.formtitle{
    font-size: 25px;
    color: white;
}
#lien{
    color: white;
    text-decoration: none;
}
#inscription{
    text-align: left;
    margin-top: 50px;
    text-decoration: none;
}
#paragraphe{
    text-align: center;
    margin-top: 200px;
}
#paragraphe2{
    text-align: center;
}